<div class="container-fluid">
  <div>
    <h2>Ingredient Detail</h2>
    <% if @ingredient.name != "" %>
        <p>Ingredient Name: <%= @ingredient.name %></p>
    <% else %>
        <p>Ingredient Name: Invalid entry.</p>
    <% end %>
  </div>

  <br><br>

  <div>
    <h4>Update ingredient Details</h4>
      <%= render('/layouts/ingredient_form') %>
  </div>

</div>
