<% content_for(:title, "Home | Ingredients" ) %>

<div class="container-fluid">
  <h1>Ingredients</h1>
  <%= render("/layouts/ingredient_list") %>

  <div class = "all_list">
    <h3>Input a new ingredient</h3>
    <%= render("/layouts/ingredient_form") %>
  </div>

</div>

