<% content_for(:title, "Home | Tags" ) %>

<div class = "container-fluid">
  <h1>Tags</h1>

  <%= render("/layouts/tag_list") %>


  <div class = "row">
    <h3>Input a new tag</h3>
    <form action="/tags" method="post">
      <%= render("/layouts/tag_form") %>
      <button class="btn btn-success">Submit</button>
    </form>
  </div>

  <div id = "error_box" class = "row">
    <%= render('/layouts/errors', :object => @tag) %>
  </div>

</div>
