<% content_for(:title, "Home | Tags" ) %>

<div class="container-fluid">
  <h1>Tags</h1>
  <%= render("/layouts/tag_list") %>

  <div class = "all_list">
    <h3>Input a new tag</h3>
    <%= render("/layouts/tag_form") %>
  </div>

</div>

