/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {

}

p {
  font-size: 16px;
}

h1 {
  margin: 0;
  padding: 0;
}

h3 {
  padding-left: 10px;
}

#error_box {
  display: none;
  background: lightblue;
  padding: 20px;
  color: blue;

}

.container-fluid {
  padding: 0px 25px 25px 25px;
  margin: 25px;

}

.all_list {
  margin-top: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  background: #eee;
}

.tags_list {
  padding-bottom: 20px;
}

.tags_back {
  padding: 5px;
  float: left;
  margin: 2px;
  border-radius: 3px;
  margin-left: 5px;
  border:1px solid #6699FF;
}

.tags_back:hover, .tags_back a:hover {
  background: #6699ff;
  color: #eee;
  text-decoration: none;
}

.tags_delete {
  padding: 5px;

}
