/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


.footer {
  background-color: rgb(248, 248, 248);
  margin-top: 2em;
  padding: 1em;
  text-align: center;

}

p {
  font-size: 16px;
}

h3 {
  font-size:1.4em;
  padding-bottom:.5em;
}

#error_box {
  display: none;
  background: lightblue;
  padding: 20px;
  color: blue;
}

.each-recipe {
  border: 1px solid #aaa;
  border-radius: 3px;
  background: #eee;
  padding-left: 0;
}


.all_list li {
  margin-bottom:3px;
}

.tags_list {
  padding-bottom: 20px;
}

.tags_back {
  padding: 5px;
  float: left;
  margin: 2px;
  background: white;
  border-radius: 3px;
  margin-left: 5px;
  border:1px solid #6699FF;
}

.tags_back:hover, .tags_back a:hover {
  background: #6699ff;
  color: #eee;
  text-decoration: none;
}

.tags_delete {
  padding: 5px;
}

.glyphicon {
  color: green;
  margin-right: 2px;
  margin-left: 10px;
}

.new_recipe {
  color: #333;
  font-size: 1.2em;
}

#recipe_name {
  display: block;
  width: 50%;
  height: 2.5em;
}

textarea#recipe_description  {
  color: #333;
  width: 100%;
  height: 7em;
  padding-bottom: 10px;
}

.recipe-button  {
  margin-top: 1.1em;
}

