

<div class = "col-xs-12 ingredients_list clearfix center-block top-buffer-small">
  <h3>Choose an ingredient to view all its recipes:</h3>
  <% @ingredients.each do |ingredient| %>
    <div class = "ingredients_back_index">
      <%= link_to "#{ingredient.name}", ingredient_path(ingredient) %>
    </div>
  <% end %>
</div>
