<div class = "all_list">
  <h3>All Ingredients:</h3>
  <div class = "ingredients_list clearfix center-block">
    <% @ingredients.each do |ingredient| %>
      <div class = "ingredients_back">
        <%= link_to "#{ingredient.name}", ingredient_path(ingredient) %>
      </div>
    <% end %>
  </div>
</div>
