<div class = "all_list">
  <h3>All tags:</h3>
  <div class = "tag_list">
    <% @tags.each do |tag| %>
      <div class = "tags_back">
        <%= link_to "#{tag.name}", tag_path(tag) %>


      </div>
    <% end %>
  </div>
</div>
